<div class="easyui-accordion">
    <div title="文章管理">
        <ul id="navmenu" class="nav nav-pills nav-stacked">
            <li><a href="javascript:void()" data-options ="'icons':'icon-page-attach','title':'添加文章','href':'@Url.Action("Add","Article")'">
                <span class="glyphicon glyphicon-pencil">添加文章</span></a></li>
            <li><a href="javascript:void()" data-options="'icons':'icon-folder-page','title':'文章管理','href':'@Url.Action("List","Article")'">
                <span  class="glyphicon glyphicon-list">文章管理</span></a></li>
            <li><a href="javascript:void()" data-options="'icons':'icon-folder-user','title':'我的文章','href':'@Url.Action("MyList","Article")'">
                <span class="glyphicon glyphicon-list-alt">我的文章</span></a></li>
        </ul>
    </div>
</div>
