<div class="easyui-accordion">
    <div title="咨询管理">
        <ul id="navmenu" class="nav nav-pills nav-stacked">
            <li><a href="javascript:void()" data-options="'icons':'icon-folder-page','title':'咨询管理',
                   'href':'@Url.Action("ManageList","Consultation")'"><span class="glyphicon glyphicon-list">咨询管理</span></a></li>
            <li><a href="javascript:void()" data-options="'icons':'icon-folder-usr','title':'我的咨询',
                   'href':'@Url.Action("MyList","Consultation")'"><span class="glyphicon glyphicon-list-alt">我的咨询</span></a></li>
        </ul>
    </div>

</div>

