<?xml version="1.0" encoding="utf-8"?>
<UploadConfig>
  <add key="MaxSize" value="15000000" />
  <add key="ImageExt" value="gif,jpg,jpeg,png,bmp" />
  <add key="FileExt" value="doc,docx,xls,xlsx,ppt,htm,html,txt,zip,rar,gz,bz2" />
  <add key="FlashExt" value="swf,flv" />
  <add key="MediaExt" value="swf,flv,mp3,wav,wma,wmv,mid,avi,mpg,asf,rm,rmvb" />
  <add key="Path" value="Upload" />
</UploadConfig>
